# Ignore system files and folders
.DS_Store
Thumbs.db
*.lnk
*.ini
*.log
*.tmp
*.swp
*.lock
~$*

# Ignore personal folders and IDE settings
.vscode/
.idea/
node_modules/
.next/
AppData/
Documents/
Downloads/
Pictures/
Music/
Videos/
Favorites/
OneDrive*/
eclipse/
logs/
*.sql

# Ignore VirtualBox, Docker, SSH, etc.
.VirtualBox/
.docker/
.dotnet/
.ssh/
